/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Handlee&family=Nunito:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --color-primary: #f3efe0;
    --color-secondary-light: #434242;
    --color-secondary-dark: #222222;
    --color-accent: #22A39F;
    --color-text-white: white;
    --color-text-dark: black;
    --color-text-light: #f3efe0;

    --font-primary: "Handlee", cursive;
    --font-secondary: "Nunito", sans-serif;
}

body {
    background-color: var(--color-primary);
    font-family: var(--font-primary);
}

/* Common CSS */
.heading-secondary {
    font-size: 3rem;      
    z-index: 100;
}

/* Home Section */
#home {
    height: 130vh;
    background-color: var(--color-primary);
    font-family: var(--font-secondary);
    position: relative;    
}

/* Navbar */
#nav-primary .nav-logo,
.nav-links {
    margin: 0;
    padding: 0;
}

#nav-primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 8rem;
}

#nav-primary .nav-logo {
    font-size: 2rem;
    font-weight: bold;
}

#nav-primary .nav-links {
    font-size: 1.2rem;
    display: flex;
    gap: 3rem;
    list-style-type: none;
    text-decoration: none;
}

/* Home hero section */
.hero {
    margin: 5rem 8rem;
    font-family: var(--font-secondary);
    position: relative;
}

/* Hero left section */
.hero-left .txt-hero-intro,
.txt-hero-main-heading,
.txt-hero-about,
.hero-btn-group {
    margin: 0;
    padding: 0;
}

.hero-left .txt-hero-intro {
    font-size: 1.5rem;
}

.hero-left .txt-hero-main-heading {
    font-family: var(--font-primary);
    font-size: 6rem;
    margin-left: -8px;
}

.hero-left .txt-hero-about {
    font-size: 2rem;
    margin-top: -10px;
}

/* Hero CTA */
.hero-btn-group {
    margin-top: 2rem;
}

.hero-left #btn-see-my-work,
#btn-contact-me {
    font-size: 1.2rem;
    width: 10rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 0;
    box-shadow: 4px 4px 4px 0px rgb(0, 0, 0, 0.25);
    cursor: pointer;
}

@keyframes btn-hover-animation {
    100% {
        transform: translate(0, -5px) scale(1.05);
        color: var(--color-text-white);
        background-color: var(--color-accent);
    }
}

.hero-left #btn-see-my-work:hover {
    animation: btn-hover-animation 0.5s ease forwards;
}

.hero-left #btn-contact-me:hover {
    animation: btn-hover-animation 0.5s ease forwards;
}

.hero-left #btn-see-my-work {
    color: var(--color-text-white);
    background-color: var(--color-secondary-dark);
}

.hero-left #btn-contact-me {
    margin-left: 1.5rem;
    background-color: var(--color-primary);
}

/* Hero right section */
.hero-right {
    position: absolute;
    top: -5%;
    right: -2%;
    width: 65%;
}

.hero-right #illustration-person-coding {
    width: 100%;
    height: auto;
}

#wave1 {    
    position: absolute;    
    width: 100%;
    height: auto;    
    bottom: 0%;           
    margin-bottom: -2%;
}

/* Projects Section */
#projects {
    position: relative;  
    background-color: var(--color-secondary-light);    
    display: flex;
    flex-direction: column;
    align-items: center;            
    height: 120vh;    
}

#projects .heading-secondary {
    color: var(--color-primary);    
}

#projects .heading-secondary:first-child{
    margin-top: -2rem;
}

#projects .project-grid {    
    /* TODO: Change to css grid */
    padding: 4rem;
    width: 80%;
    display: flex;
    gap: 2rem;     
}

#projects .project-card{    
    background-color: var(--color-primary);
    border-radius: 5px;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    width: 25vw;
    height: 25vh;    
    justify-content: space-around;
}

#projects .project-icons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#projects .logo-codepen,
.logo-github,
.logo-codesandbox {    
    transform: scale(0.6);
}

#projects .logo-codepen {}

#projects .logo-github {}

#projects .logo-codesandbox {}

#wave2 {    
    /* border: 2px solid rebeccapurple; */
    position: absolute;
    width: 100%;    
    bottom: -20%;     
    /* display: none; */
    height: auto;    
}

/* Tech Section */
#tech{            
    position: relative;
    background-color: var(--color-primary);     
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tech .heading-secondary{    
    color: var(--color-secondary-dark);
}

#tech .tech-logos-primary, .tech-logos-secondary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#tech .tech-logos-primary{
    margin-top: 4rem;    
}

#tech .tech-logo{
    transform: scale(0.8);
}

/* Contact Section */
#contact{
    display: none;
}

#contact .heading-secondary {
    
}

#wave3{
    display: none;
}